
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.ui-widget-header .ui-icon {
    background-image: url(/dotax/images/vendor/jquery-ui/themes/base/ui-icons_444444_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{
    background-image: url(/dotax/images/vendor/jquery-ui/themes/base/ui-icons_555555_256x240.png);
}